body {
    background-color: rgb(228, 219, 179);
}

div {
    height: 50px;
}

section {
    margin: 20px;
}

/* Nombre */

#div1 {
    background-color: red;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: blue;
}

/* RGB */

#div4{
    background-color: rgb(255, 0, 0);
}

#div5 {
    background-color: rgb(0, 0, 0);
}

#div6 {
    background-color: rgb(255, 255, 255)
}

#div7 {
    background-color: rgb(0, 255, 0);
}

#div8 {
    background-color: rgb(0, 0, 255);
}

/* Hexadecimal */

#div9 {
    background-color: #fff;
}

#div10 {
    background-color: #000;
}

#div11 {
    background-color: #f00;
}

#div12 {
    background-color: #0f0;
}

#div13 {
    background-color: #00f;
}

/* HSL */

#div14 {
    background-color: hsl(0, 100%, 50%);
}

#div15 {
    background-color: hsl(120, 100%, 50%);
}

#div16 {
    background-color: hsl(240, 100%, 50%);
}

#div17 {
    background-color: hsl(0, 0%, 0%);
}

#div18 {
    background-color: hsl(0, 0%, 100%);
}

/* RGBA */

#div19 {
    background-color: rgba(255, 0, 0, .6);
}

/* HSLA */

#div20 {
    background-color: hsla(240, 100%, 50%, .5);
}

/* Hexadecimal con canal alpha */

#div21 {
    background-color: #00ff007a;
}